.media_object
{
    .comment {

	}
}























// Irrelevant Styling
.media_object
{
	max-width: 600px; margin: 0 auto; padding: 0 20px;
	img { width: 100px; height: 100px; }
	p:first-of-type { margin-top: 0; }
}